@import "./mixins";
@import "./variables";
@import "../components/index";

@font-face {
    font-family: mainFontFamily;
    src: url("../assets/fonts/Flame-Regular.ttf");
}

@font-face {
    font-family: mainFontFamilySans;
    src: url("../assets/fonts/FlameSans-Regular.ttf");
}

@font-face {
    font-family: mainFontFamilyBold;
    src: url("../assets/fonts/Flame-Bold.ttf");
}

/* GLOBAL styles */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: mainFontFamilySans;
    position: relative;
}

@media screen and (max-width: 900px) {

    html,
    body {
        overflow-x: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: mainFontFamily !important;
}

p,
a,
button {
    font-family: mainFontFamilySans !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    pointer-events: none;
}

//Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #efefef;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}