.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropdown-content {
  position: absolute;
  background-color: #f9bc60;
  border-radius: 10px;
  max-width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}

.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropdown-content a:hover {
  background-color: #C8E0CA;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@font-face {
  font-family: mainFontFamily;
  src: url("../assets/fonts/Flame-Regular.ttf");
}

@font-face {
  font-family: mainFontFamilySans;
  src: url("../assets/fonts/FlameSans-Regular.ttf");
}

@font-face {
  font-family: mainFontFamilyBold;
  src: url("../assets/fonts/Flame-Bold.ttf");
}

/* GLOBAL styles */
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: mainFontFamilySans;
  position: relative;
}

@media screen and (max-width: 900px) {
  html,
  body {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: mainFontFamily !important;
}

p,
a,
button,
input,
*::-webkit-input-placeholder,
label,
textarea {
  font-family: mainFontFamilySans !important;
}

p,
a,
button,
input,
*:-ms-input-placeholder,
label,
textarea {
  font-family: mainFontFamilySans !important;
}

p,
a,
button,
input,
*::-ms-input-placeholder,
label,
textarea {
  font-family: mainFontFamilySans !important;
}

p,
a,
button,
input,
*::placeholder,
label,
textarea {
  font-family: mainFontFamilySans !important;
}

input,
textarea {
  font-size: 1.25rem !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #f9bc60;
  border-radius: 10px;
}

/* progress bar */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #f9bc60;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  z-index: 999999;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 900px) {
  .primary-button-link {
    width: 100%;
  }
}

.select-currency svg {
  fill: #fff;
}

.pricelist-row-ticket:last-child {
  background-color: #f9bc60;
}

.pricelist-row-ticket:last-child p {
  color: #fff;
}

.pricelist-row-ticket:last-child p:first-child {
  border-bottom: 5px dotted #fff;
}

.MuiFilledInput-root {
  height: 100% !important;
}

.mainpage-form-submit-button:hover svg {
  -webkit-transform: translateX(5px) translateY(-5px);
          transform: translateX(5px) translateY(-5px);
}
/*# sourceMappingURL=styles.css.map */